---
// src/components/WindowsToolbar.astro
const buildTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
---

<div class="windows-toolbar">
  <div class="start-button-container">
    <button class="start-button" type="button" aria-haspopup="true" aria-expanded="false" aria-label="BitMedic Menu">
      <img src="/BitMedic/icons/bitmedic_logo2-onlylogo_transparent.svg" alt="BitMedic Menu" class="start-icon" />
      <span>BitMedic</span>
    </button>
    <div class="start-menu" role="menu">
      <ul>
        <li>
          <a href="/BitMedic/about/" role="menuitem">
            <img src="/BitMedic/icons/about_icon.svg" alt="" class="start-menu-icon" />
            About
          </a>
        </li>
        <li>
          <a href="/BitMedic/contact/" role="menuitem">
            <img src="/BitMedic/icons/contact_icon.svg" alt="" class="start-menu-icon" />
            Contact
          </a>
        </li>
        <li>
          <a href="/BitMedic/tech/" role="menuitem">
            <img src="/BitMedic/icons/tech_icon.svg" alt="" class="start-menu-icon" />
            Recommended Tech
          </a>
        </li>
        <li>
          <a href="/BitMedic/merch/" role="menuitem">
            <img src="/BitMedic/icons/merch_icon.svg" alt="" class="start-menu-icon" />
            Merch
          </a>
        </li>
        <li class="divider"><hr /></li>
        <li>
          <a href="https://search.brave.com/" target="_blank" rel="noopener noreferrer" role="menuitem">
            <img src="/BitMedic/icons/log_off_icon.svg" alt="" class="start-menu-icon" />
            Log Off...
          </a>
        </li>
      </ul>
    </div>
  </div>

  {/* Taskbar Buttons */}
  <a href="https://bitmedic.beehiiv.io/" target="_blank" rel="noopener noreferrer" class="taskbar-button">
    <img src="/BitMedic/icons/newsletter_icon.svg" alt="Newsletter" class="taskbar-button-icon" />
    <span class="taskbar-button-text">Newsletter</span>
  </a>
  <a href="#" class="taskbar-button">
    <img src="/BitMedic/icons/form_icon.svg" alt="Feedback Form" class="taskbar-button-icon" />
    <span class="taskbar-button-text">Feedback Form</span>
  </a>

  <div class="clock-container">
    <span class="clock-time">{buildTime}</span>
  </div>
</div>

<style>
  .windows-toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #c0c0c0;
    border-top: 2px solid #ffffff;
    box-shadow: inset 0 1px 1px #dfdfdf;
    display: flex;
    align-items: center;
    padding: 0 5px;
    font-family: 'Tahoma', 'Geneva', 'MS Sans Serif', sans-serif;
    font-size: 15px;
    color: #000000;
    z-index: 1000;
    box-sizing: border-box;
    line-height: 1;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }

  .start-button-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  .start-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #0058a8;
    border-width: 2px;
    border-style: outset;
    border-color: #3b8bcd #003366 #003366 #3b8bcd;
    padding: 0 12px;
    margin: 0;
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
    color: #ffffff;
    height: 32px;
    box-sizing: border-box;
    line-height: 30px;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .start-button span {
    line-height: 1;
    display: inline-block;
  }

  .start-button:active {
    border-style: inset;
    padding: 1px 11px 0px 13px;
    background-color: #004c8c;
  }

  .start-button:focus {
    outline: 1px dotted #ffffff;
    outline-offset: -4px;
  }
  .start-button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  .start-icon { /* Icon for the main Start/BitMedic button */
    width: 22px;
    height: 22px;
    margin-right: 7px;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
    filter: brightness(0) invert(1);
  }

  .start-menu {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 280px;
    background-color: #c0c0c0;
    border-width: 2px;
    border-style: outset;
    border-color: #f0f0f0 #808080 #808080 #f0f0f0;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    padding: 4px;
    z-index: 1001;
    font-size: 15px;
    color: #000000;
    text-align: left;
    box-sizing: border-box;
  }

  .start-button-container:hover .start-menu,
  .start-button:focus + .start-menu,
  .start-menu:hover {
    display: block;
  }

  .start-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .start-menu li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .start-menu li a {
    display: flex;
    align-items: center;
    padding: 7px 10px 7px 8px;
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
    box-sizing: border-box;
    line-height: 1.2;
  }

  .start-menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    object-fit: contain;
    vertical-align: middle;
  }

  .start-menu li a:hover {
    background-color: #0058a8;
    color: #ffffff;
  }
  /* REMOVED THE FOLLOWING RULE:
    .start-menu li a:hover .start-menu-icon {
      filter: brightness(0) invert(1);
    }
  */

  .start-menu li.divider hr {
    border: 0;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #ffffff;
    margin: 5px 1px;
    height: 0px;
    box-sizing: border-box;
  }

  .taskbar-button {
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #c0c0c0;
    border-width: 2px;
    border-style: outset;
    border-color: #f0f0f0 #808080 #808080 #f0f0f0;
    padding: 0 8px;
    margin-left: 4px;
    text-decoration: none;
    color: #000000;
    font-family: inherit;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    transition: background-color 0.1s ease, color 0.1s ease;
  }

  .taskbar-button:hover,
  .taskbar-button:focus {
    background-color: #0058a8;
    color: #ffffff;
    border-color: #3b8bcd #003366 #003366 #3b8bcd;
    outline: none;
  }

  .taskbar-button:active {
    border-style: inset;
    background-color: #004c8c;
    color: #e0e0e0;
  }

  .taskbar-button-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    object-fit: contain;
    filter: brightness(1);
  }

  .taskbar-button-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
  }

  .clock-container {
    margin-left: auto;
    padding: 0 10px;
    height: 32px;
    border-width: 2px;
    border-style: inset;
    border-color: #808080 #f0f0f0 #f0f0f0 #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    box-sizing: border-box;
    margin-right: 3px;
    line-height: 30px;
  }
  .clock-time {
    font-family: 'Tahoma', 'Geneva', 'MS Sans Serif', sans-serif;
    font-size: 15px;
    color: #000000;
    line-height: 1;
  }

  @media (max-width: 600px) {
    .windows-toolbar { height: 32px; font-size: 13px; padding: 0 3px; }
    .start-button { height: 26px; padding: 0 8px; margin-left: 2px; line-height: 24px; }
    .start-button:active { padding: 1px 7px 0px 9px; }
    .start-icon { width: 16px; height: 16px; margin-right: 5px; }
    .start-menu { width: 200px; font-size: 13px; padding: 2px; }
    .start-menu li a { padding: 5px 8px; }
    .start-menu-icon { width: 16px; height: 16px; margin-right: 6px; }
    .start-menu li.divider hr { margin: 3px 1px; }
    .taskbar-button { height: 24px; padding: 0 5px; font-size: 12px; margin-left: 3px; max-width: 120px; }
    .taskbar-button-icon { width: 14px; height: 14px; margin-right: 3px; }
    .clock-container { height: 26px; padding: 0 6px; min-width: 65px; margin-right: 2px; line-height: 24px; }
    .clock-time { font-size: 13px; }
  }
</style>

<script>
  function setupLiveClock() {
    const clockTimeElement = document.querySelector('.windows-toolbar .clock-container .clock-time');
    if (clockTimeElement) {
      function updateClock() {
        const now = new Date();
        const timeString = now.toLocaleTimeString([], {
          hour: '2-digit',
          minute: '2-digit'
        });
        clockTimeElement.textContent = timeString;
      }
      updateClock();
      setInterval(updateClock, 1000);
    }
  }
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', setupLiveClock);
  } else {
    setupLiveClock();
  }
</script>
