---
// src/layouts/Layout.astro
import WindowsToolbar from '../components/WindowsToolbar.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/BitMedic/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>BitMedic Helps!</title>
    {/* Script to calculate and set viewport height unit */}
    <script is:inline>
      const setVhUnit = () => {
        if (typeof window !== 'undefined') {
          let vh = window.innerHeight * 0.01;
          document.documentElement.style.setProperty('--vh', `${vh}px`);
        }
      };
      // Set on initial load
      setVhUnit();
      // Set on resize and orientation change
      if (typeof window !== 'undefined') {
        window.addEventListener('resize', setVhUnit);
        window.addEventListener('orientationchange', setVhUnit);
      }
    </script>
	</head>
	<body>
		<slot />
		<WindowsToolbar />
	</body>
</html>

<style is:global>
  /* Reset and Base Styles for Consistency */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: 'Tahoma', 'Geneva', 'MS Sans Serif', sans-serif;
    height: 100%; /* Important for body min-height: 100% to work as expected */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  body {
    width: 100%;
    min-height: 100%; /* Takes full height of html element */
    /* min-height: 100vh; or min-height: calc(var(--vh, 1vh) * 100); will be set in index.astro */
    display: flex;
    flex-direction: column;
    font-family: inherit;
    color: #000000;
    background-color: #DDD;
    text-rendering: optimizeLegibility;
  }

  /* Common Resets */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
  }
  input, button, textarea, select {
    font: inherit;
    color: inherit;
    margin: 0;
  }
  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  @media (prefers-reduced-motion: reduce) {
    html:focus-within { scroll-behavior: auto; }
    *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
</style>
